@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes progressAnimation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-progress {
  animation-name: progressAnimation;
}

html {
  scroll-behavior: smooth !important;
}